/********************************** Imports **********************************/
@font-face
{
    font-family: "Quicksand";
    src: url("../fonts/quicksand.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Varela";
    src: url("../fonts/varela.ttf");
    font-weight: 0;
    font-style: normal;
}

@font-face
{
    font-family: "RobotoMono";
    src: url("../fonts/robotomono.ttf");
    font-weight: normal;
    font-style: normal;
}

/********************************** Globals **********************************/
:root
{
    --color-bg1: rgb(10, 10, 10);
    --color-bg2: rgb(50, 50, 50);
    --color-bg3: rgb(100, 100, 100);
    --color-bg4: rgb(150, 150, 150);
    --color-text1: rgb(200, 200, 225);
    --color-text2: rgb(150, 150, 175);
    --color-text3: rgb(175, 175, 225);
    --color-acc1: rgb(35, 70, 158);     /* dark blue (original: 20, 55, 143) */
    --color-acc2: rgb(205, 42, 58);     /* dark-ish red */
    --color-acc3: rgb(235, 154, 32);    /* yellow-gold */
    --color-acc4: rgb(95, 130, 218);    /* lighter blue */
    --font1: "Quicksand", "Roboto", "Verdana";
    --font2: "Varela", "Roboto", "Arial";
    --font-code: "RobotoMono", "Consolas", "Courier";
}

.body-main
{
    max-width: 1600px;
    margin: auto;
}


/********************************** Defaults **********************************/
h1
{ color: var(--color-acc3) !important; }
h2
{ color: var(--color-acc2) !important; }
h3
{ color: var(--color-acc1) !important; }
h4
{ color: var(--color-acc3) !important; }
h5
{ color: var(--color-acc2) !important; }
h6
{ color: var(--color-acc1) !important; }


/********************************** Colors ***********************************/
.color-text1
{ color: var(--color-text1) !important; }
.color-text2
{ color: var(--color-text2) !important; }
.color-text3
{ color: var(--color-text3) !important; }
.color-bg1
{ background-color: var(--color-bg1) !important; }
.color-bg2
{ background-color: var(--color-bg2) !important; }
.color-bg3
{ background-color: var(--color-bg3) !important; }
.color-acc1
{ color: var(--color-acc1) !important; }
.color-acc2
{ color: var(--color-acc2) !important; }
.color-acc3
{ color: var(--color-acc3) !important; } 
.color-acc4
{ color: var(--color-acc4) !important; } 

/****************************** Text Formatting ******************************/
.text-header1, h1
{
    color: var(--color-acc3);
    font-family: var(--font1);
    font-size: 80px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 4px;
}

.text-header2, h2
{
    color: var(--color-acc2);
    font-family: var(--font1);
    font-size: 60px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 4px;
}

.text-header3, h3
{
    color: var(--color-acc1);
    font-family: var(--font1);
    font-size: 48px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 4px;
}

.text-header4, h4
{
    color: var(--color-acc3);
    font-family: var(--font1);
    font-size: 36px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 4px;
}

.text-header5, h5
{
    color: var(--color-acc2);
    font-family: var(--font1);
    font-size: 24px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 4px;
}

.text-header6, h6
{
    color: var(--color-acc1);
    font-family: var(--font1);
    font-size: 24px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-top: 4px;
}

.text-main, p
{
    color: var(--color-text1);
    font-family: var(--font2);
    font-size: 16px;
}

.text-icon
{
    font-size: 32px;
    margin: 4px;
    text-decoration: none;
}

.text-link, a
{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-acc3);
}

.icon-link
{
    color: var(--color-acc2);
}

.text-quote
{
    font-style: italic;
    color: var(--color-text2);
    margin-bottom: 4px;
}

.text-quote-speaker
{
    font-style: normal;
    color: var(--color-acc1);
}

.text-book-title
{
    font-style: italic;
    color: var(--color-text3);
    margin-bottom: 4px;
}

.text-book-author
{
    font-style: normal;
    color: var(--color-text2);
}

.text-code, code
{
    font-family: var(--font-code);
    background-color: var(--color-bg2);
    border-radius: 6px;
    margin: 2px;
    padding: 4px;
}

/********************************* Borders ***********************************/
.border-acc1
{
    border: 2px solid var(--color-acc1);
}

.border-acc2
{
    border: 2px solid var(--color-acc2);
}

.border-acc3
{
    border: 2px solid var(--color-acc3);;
}

/********************************* Dividers **********************************/
.div-main, div
{
    margin: 8px;
    margin: 8px;
}

.div-border-acc1
{
    margin: 16px;
    margin-left: 4px;
    border: 2px solid var(--color-acc1);
    padding-left: 12px;
    border-radius: 6px;
}

.div-border-acc2
{
    margin: 16px;
    margin-left: 4px;
    border: 2px solid var(--color-acc2);
    padding-left: 12px;
    border-radius: 6px;
}

.div-border-acc3
{
    margin: 16px;
    margin-left: 4px;
    border: 2px solid var(--color-acc3);
    padding-left: 12px;
    border-radius: 6px;
}

.div-icons
{
    margin: 16px;
    text-align: center;
}

.div-btn-deck
{
    padding: 8px;
    margin: 8px;
    justify-content: center;
}

/********************************** Inputs ***********************************/
.input-main, input
{
    font-family: var(--font2);
    background-color: var(--color-bg1);
    color: var(--color-text1);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-text1);
    padding: 8px;
    margin: 8px;
    width: 100%;
}

.input-main:focus, input:focus
{
    background-color: var(--color-bg1);
    color: var(--color-text1);
    outline: none;
}

.label-main
{
    color: var(--color-text2);
}

/********************************** Buttons **********************************/
.button-main, button
{
    background-color: var(--color-bg2);
    color: var(--color-text1);
    /*color: var(--color-acc1);*/
    cursor: pointer;
    padding: 12px;
    margin: 8px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font1);
    border-radius: 4px;
}

.button-main:hover:enabled, button:hover:enabled
{
    background-color: var(--color-bg3);
}

.button-main:focus, button:focus
{
    outline: none;
    box-shadow: none;
}

.button-main:disabled, button:disabled
{
    color: var(--color-bg4);
}

.button-nav
{
    background-color: var(--color-bg1);
    cursor: pointer;
    padding: 12px;
    margin: 8px;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font1);
    border-radius: 4px;
}

.button-nav:hover:enabled
{
    background-color: var(--color-bg2);
}

.button-nav:focus
{
    outline: none;
    box-shadow: none;
}

.button-nav:disabled
{
    color: var(--color-bg4);
}

/****************************** Mobile Screens *******************************/
/* https://stackoverflow.com/questions/42025632/how-to-detect-only-with-css-mobile-screens */
@media only screen and (hover: none) and (pointer: coarse)
{
    .text-header1, h1
    {
        font-size: 128px;
    }
    
    .text-header2, h2
    {
        font-size: 96px;
    }
    
    .text-header3, h3
    {
        font-size: 72px;
    }
    
    .text-header4, h4
    {
        font-size: 60px;
    }
    
    .text-header5, h5
    {
        font-size: 48px;
    }
    
    .text-header6, h6
    {
        font-size: 40px;
    }
    
    .text-main, p
    {
        font-size: 36px;
    }

    .text-icon
    {
        font-size: 72px;
    }

    .text-link, a
    {
        font-size: 36px;
    }

    .text-quote
    {
        font-size: 36px;
    }

    .text-quote-speaker
    {
        font-size: 36px;
    }
    
    .input-main, input
    {
        font-size: 36px;
    }

    .button-main, button
    {
        padding: 32px;
        font-size: 32px;
        margin: 16px;
        border-radius: 8px;
    }

    .button-nav
    {
        padding: 32px;
        font-size: 32px;
        margin: 16px;
        border-radius: 8px;
    }
}
