:root
{
    --color-nomad: rgb(140, 123, 84);
    --color-settler: rgb(210, 129, 7);
    --color-hunter: rgb(180, 17, 33);
    --color-warlock: rgb(233, 18, 153);
    --color-noble: rgb(240, 224, 32);
}

.color-nomad
{ color: var(--color-nomad) !important; }
.color-settler
{ color: var(--color-settler) !important; }
.color-hunter
{ color: var(--color-hunter) !important; }
.color-warlock
{ color: var(--color-warlock) !important; }
.color-noble
{ color: var(--color-noble) !important; }

.border-nomad
{ border: 1px solid var(--color-nomad) !important; }
.border-settler
{ border: 1px solid var(--color-settler) !important; }
.border-hunter
{ border: 1px solid var(--color-hunter) !important; }
.border-warlock
{ border: 1px solid var(--color-warlock) !important; }
.border-noble
{ border: 1px solid var(--color-noble) !important; }

