/* Style sheet for my personal website */

/********************************* Colors ************************************/
/* Color Scheme (from https://coolors.co):

        Color Name      Hexadecimal     RGB
        ---------------------------------------------
        Blueberry:      #4392F1         67, 146, 241
        Ruby Red:       #931621         147, 22, 33
        Gainsboro:      #D8DBE2         216, 219, 226
        Raisin Black:   #262626         38, 38, 38
        Vermilion:      #DC493A         220, 73, 58
*/
:root
{
    --color-base:rgb(67, 146, 241);         /* blueberry */
    --color-light:rgb(216, 219, 226);       /* gainsboro */
    --color-dark:rgb(38, 38, 38);           /* raisin black */
    --color-accent:rgb(220, 73, 58);        /* ruby red */
    --color-accent-dark:rgb(147, 22, 33);   /* vermilion */
}

/**************************** Universal Formats ******************************/
body
{
    background-color: black;
    font-family: Courier New;
}

/***************************** Text Formatting *******************************/
/* Headers */
h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
    color: var(--color-base);
}

/* Text, lists, etc. */
p, li
{
    color: var(--color-light);
}

/* Links and anchor text */
a
{
    color: var(--color-accent);   
}
